.body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: white;
}
/* ---------------------------------------------Start General css---------------------------------------------- */
.h1{
    font-size: xx-large;
}
.h2{
    font-size: large;
}
/* ----------------------------------------------End General css----------------------------------------------- */
/* -------------------------------------------Start worldwide ship---------------------------------------------- */
.ship h3{
    color: white;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
}
/* -----------------------------body----------------------- */
/* -----------------------------BEST SALES START------------- */
.best-sales-img img{
    border-radius:10px ;
    box-shadow: rgb(58, 55, 55);
}
.best-sale-text{
    width: 90%;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
/* -----------------------------BEST SALES END------------- */
/* ............................footer-wrapper........................ */
footer{
    background-color: #000;
    color: #fff;
    padding: 80px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    
}
footer h6{
    padding-bottom: 30px;
}
footer li{
    padding-bottom: 15px;
}
footer a{
    color: #fff;
}
.fa-brands{
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
}
/* --------------------------------------------End Worldwide ship---------------------------------------------- */
/* -----------------------------------------------Start Navbar-------------------------------------------------- */
