.body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: white;
}
/* ---------------------------------------------Start General css---------------------------------------------- */
.h1{
    font-size: xx-large;
}
.h2{
    font-size: large;
}
/* ----------------------------------------------End General css----------------------------------------------- */
/* -------------------------------------------Start worldwide ship---------------------------------------------- */
.ship h3{
    color: white;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
}
/* --------------------------------------------End Worldwide ship---------------------------------------------- */
/* -----------------------------------------------Start Navbar-------------------------------------------------- */
