.h1{
    font-size: xx-large;
}
.body{
    margin: 0;
    padding: 0;
}
.h2{
    font-size: large;
}
.h3{
    font-size: larger;
}
/* ............................footer-wrapper........................ */
footer{
    background-color: #000;
    color: #fff;
    padding: 80px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    
}
footer h6{
    padding-bottom: 30px;
}
footer li{
    padding-bottom: 15px;
}
footer a{
    color: #fff;
}
.fa-brands{
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
}